{% extends 'base.html.twig' %}

{% block title %}
	Politique d'accessibilité
{% endblock %}

{% block body %}

	{% include('/partials/_marquee-text.html.twig') %}

	<div class="hero static-page-hero d-flex justify-content-center align-items-center">

		<h1 class="text-center static-page-title">Politique d'accessibilité</h1>
	</div>

	{% include('/partials/_marquee-icons.html.twig') %}

	<div class="container">
		<p>
			Nous nous engageons à rendre notre plateforme de partage de documents en ligne accessible à tous. Pour ce faire, nous veillons à ce que notre plateforme respecte les normes d'accessibilité du Web Content Accessibility Guidelines (WCAG) 2.1. Nous surveillons régulièrement notre plateforme pour détecter les problèmes d'accessibilité et nous nous efforçons de résoudre ces problèmes dès qu'ils sont identifiés. Si vous rencontrez un problème d'accessibilité sur notre plateforme, veuillez nous contacter afin que nous puissions résoudre le problème.
		</p>
		<p>
			En outre, nous nous engageons à rendre notre contenu pédagogique accessible à tous. Nous travaillons constamment à améliorer l'interface utilisateur de notre plateforme pour une navigation plus intuitive et une meilleure expérience utilisateur. Nous sommes également conscients de l'importance de la compatibilité avec les technologies d'assistance, comme les lecteurs d'écran, et nous nous efforçons de garantir que notre plateforme fonctionne efficacement avec ces outils.
		</p>
		<p>
			Nous sommes ouverts à vos suggestions et feedbacks pour améliorer davantage l'accessibilité de notre plateforme. N'hésitez pas à partager vos expériences et vos idées avec nous. Votre contribution est essentielle pour nous aider à rendre notre plateforme plus inclusive et accessible à tous.
		</p>
	</div>

	<div class="spacer"></div>
	{% include('/partials/_marquee-text.html.twig') %}
	<div class="spacer"></div>

{% endblock %}
