{% extends 'base.html.twig' %}

{% block title %}
	Mentions légales
{% endblock %}

{% block body %}

	{{ render(controller('App\\Controller\\SubjectController::allSubjectsAction')) }}

	<div class="hero static-page-hero d-flex justify-content-center align-items-center">

		<h1 class="text-center static-page-title">Mentions légales</h1>
	</div>

	<div class="container">
		<h2>Éditeur du site</h2>

		<p>
			Le site est édité par Lapinou.tech, une microentreprise dont le siège social est situé à Nice, immatriculée au Registre du Commerce et des Sociétés sous le numéro 979756962.
		</p>

		<h2>Hébergement</h2>

		<p>
			Le site est hébergé par Hostinger, dont le siège social est situé à 61 Lordou Vironos str. 6023 Larnaca, Chypre..
		</p>

		<h2>Responsable de la publication</h2>

		<p>
			Le responsable de la publication est Pierre Da Silva Coelho.
		</p>

		<h2>Données personnelles</h2>

		<p>
			Les données personnelles collectées par Lapinou.tech sont uniquement destinées à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers. Seuls les employés de Lapinou.tech peuvent accéder à vos données.
		</p>

		<h2>Droits d'auteur</h2>

		<p>
			Tous les contenus présents sur le site sont couverts par le droit d'auteur. Toute reprise est dès lors conditionnée à l'accord de l'auteur en vertu de l'article L.122-4 du Code de la Propriété Intellectuelle.
		</p>

		<p>
			Les utilisateurs sont responsables du contenu qu'ils partagent sur la plateforme. Ils doivent s'assurer qu'ils ont tous les droits et autorisations nécessaires pour partager ces documents.
		</p>

		<h2>Utilisation des cookies</h2>

		<p>
			Notre site utilise des cookies. Ce sont de petits fichiers texte qui sont sauvegardés sur votre appareil lorsque vous utilisez le navigateur. Nous utilisons des cookies pour rendre notre site plus convivial. Certaines parties de notre site nécessitent que le navigateur qui l'appelle soit également identifié après un changement de page.
		</p>

		<h2>Limitation de responsabilité</h2>

		<p>
			Lapinou.tech ne peut être tenu responsable des erreurs dans les documents partagés par les utilisateurs ni des conséquences qui pourraient en découler. Les utilisateurs sont entièrement responsables de la vérification de l'exactitude des documents qu'ils partagent.
		</p>

		<h2>Modification des mentions légales</h2>

		<p>
			Lapinou.tech se réserve le droit de modifier ces mentions légales à tout moment. L'utilisateur est donc invité à les consulter régulièrement.
		</p>

		<h2>Loi applicable</h2>

		<p>
			Les présentes mentions légales sont régies par la loi française, sans tenir compte des principes de conflits de lois. En cas de litige ou de réclamation, les utilisateurs conviennent de se soumettre à la juridiction exclusive du Tribunal de Grande Instance de Nice..
		</p>

	</div>

	<div class="spacer"></div>
	{% include('/partials/_marquee-text.html.twig') %}
	<div class="spacer"></div>

{% endblock %}
