{% extends 'base.html.twig' %}

{% block title %}
	Politique de confidentialité
{% endblock %}

{% block body %}

	{% include('/partials/_marquee-text.html.twig') %}

	<div class="hero static-page-hero d-flex justify-content-center align-items-center">

		<h1 class="text-center static-page-title">Politique de confidentialité</h1>
	</div>

	{% include('/partials/_marquee-icons.html.twig') %}

	<div class="container">
		Nous attachons une grande importance à votre confidentialité. C'est dans cet esprit que nous avons établi la présente politique de confidentialité. Elle vise à expliquer de manière détaillée quelles informations nous recueillons, comment nous les utilisons et comment nous nous efforçons de les protéger.

		<h3>Informations que nous recueillons</h3>


		En utilisant notre plateforme de partage de documents, diverses informations peuvent être recueillies. Cela peut inclure votre nom, votre adresse email, l'institution d'éducation à laquelle vous appartenez et les documents que vous choisissez de partager sur notre plateforme. Il est important de souligner que cette collecte d'informations nous permet de vous identifier et de comprendre votre utilisation de notre plateforme.

		<h3>Comment nous utilisons ces informations</h3>


		Les informations que nous recueillons ne sont pas utilisées à la légère. Elles ont pour principal objectif de vous offrir nos services, de renforcer et d'améliorer continuellement notre plateforme et de faciliter notre communication avec vous. Nous souhaitons vous rassurer sur le fait que nous ne partagerons jamais vos informations personnelles avec des tiers sans votre consentement explicite.

		<h3>Protection de vos informations</h3>


		Nous prenons la sécurité de vos informations très au sérieux. Nous avons mis en place une série de mesures de sécurité robustes visant à protéger vos informations contre tout accès non autorisé, modification, divulgation ou destruction. Votre confiance est primordiale pour nous, c'est pourquoi nous nous engageons à faire tout notre possible pour garantir la sécurité de vos informations.

		<h3>Vos droits</h3>


		En tant qu'utilisateur, vous avez le droit d'accéder à vos informations, de les corriger, de les supprimer ou de limiter leur utilisation à tout moment. Si vous avez des questions concernant cette politique de confidentialité ou si vous souhaitez exercer l'un de vos droits, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.
				
				Il est important de noter que cette présente politique de confidentialité peut être amenée à évoluer. Nous vous conseillons donc de consulter régulièrement cette page afin de rester informé des éventuelles modifications.
	</div>

	<div class="spacer"></div>
	{% include('/partials/_marquee-text.html.twig') %}
	<div class="spacer"></div>

{% endblock %}
