{% extends 'admin/base.html.twig' %}

{% block title %}
	Modifier l'utilisateur
		- Administration
{% endblock %}

{% block body %}
	<div class="w-100 h-100 d-flex justify-content-center align-items-center">
		{{ form_start(form) }}
		{{ form_row(form.roles) }}
		{{ form_row(form.isVerified) }}
		<button class="btn btn-primary">
			<i class="fa-duotone fa-edit me-2"></i>
			Modifier l'utilisateur
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
