{% extends 'email_base.html.twig' %}

{% block content %}

	<h1>Merci de vous être inscrit sur TeachingHub</h1>

	<p>
		Avant de pouvoir passer à la suite et partager vos documents sur la plateforme TeachingHub, merci de confirmer votre adresse mail en cliquant sur le lien suivant :
		<br><br>
		<a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
			        Ce lien expirera dans
		{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
	</p>

	<p>
		A très bientôt sur TeachingHub!
	</p>

{% endblock %}
