{% extends 'email_base.html.twig' %}

{% block content %}

	<h1>Merci de vous être inscrit sur PartageProf</h1>

	<p>
		Avant de pouvoir passer à la suite et partager vos documents sur la plateforme PartageProf, merci de confirmer votre adresse mail en cliquant sur le lien suivant :
		<div id="btn">
			<a href="{{ signedUrl|raw }}" type="button" class="btn">Confirmer mon adresse email</a>
		</div>
		Ce lien expirera dans
		{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') | replace({"hour": "heure"}) }}.
	</p>

	<p>
		A très bientôt sur PartageProf!
	</p>

{% endblock %}
