<div class="spacer"></div>
<div class="marquee">
	<div class="marquee-track">
		<div class="marquee-grid">
			{% for i in range(1,2) %}
				{% for subject in subjects %}
					<p class="marquee-icon">
						<a href="{{ path('document_search', {subject: subject.id }) }}">
							<i class="fa-solid {{ subject.icon }}" title="{{ subject.name }}"></i>
						</a>
					</p>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>
<div class="spacer"></div>
