<div class="d-flex flex-column align-items-center justify-content-between my-5">
	<div class="d-flex flex-column align-items-center">
		<div class="rounded-circle" id="profile-picture"></div>
		<p class="text-center">Heureux de vous revoir,<br>

			<span class="fw-bolder fs-3">{{ app.user.firstname }}
				{{ app.user.lastname }}</span>
		</p>
	</div>
	<div>
		<nav>
			<ul class="nav">
				<li class="nav-item">
					<a href="{{ path('user_dashboard') }}" class="nav-link">
						<i class="fa-duotone fa-rocket-launch me-2"></i>Tableau de bord</a>

				</li>
				<li class="nav-item">
					<a href="{{ path('user_profile') }}" class="nav-link">

						<i class="fa-duotone fa-address-card me-2"></i>Mes informations</a>

				</li>
				<li class="nav-item">
					<a href="" class="nav-link">
						<i class="fa-duotone fa-bookmark me-2"></i>Mes documents enregistrés</a>

				</li>
				<li class="nav-item">
					<a href="" class="nav-link">
						<i class="fa-duotone fa-share-from-square me-2"></i>Mes documents partagés</a>

				</li>
				<li class="nav-item">
					<a href="" class="nav-link">
						<i class="fa-duotone fa-comments me-2"></i>Mes interventions</a>

				</li>
			</ul>
		</nav>
	</div>
</div>
