{% extends 'base.html.twig' %}

{% block title %}Renouveler le mot de passe{% endblock %}

{% block body %}
    {% include('/partials/_marquee-text.html.twig') %}

	<div class="hero static-page-hero d-flex justify-content-center align-items-center">

		<h1 class="text-center static-page-title">Renouveler le mot de passe</h1>
	</div>

	{% include('/partials/_marquee-icons.html.twig') %}

    <div class="container my-5">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Renouveler le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
