{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire -
	{{ document.title }}
{% endblock %}

{% block body %}

	<div class="container">
		{{ form_start(form) }}
		<div
			class="rating">
			<!--begin::Reset rating-->
			<label class="btn btn-light fw-bold btn-sm rating-label me-3" for="rating_input_0">
				Reset
			</label>
			<input class="rating-input" name="rating" value="0" checked type="radio" id="rating_input_0"/>
			<!--end::Reset rating-->

			<!--begin::Star 1-->
				<label class="rating-label" for="rating_input_1"> <i class="fa-solid fa-star"></i>
			</label>
			<input class="rating-input" name="rating" value="1" type="radio" id="rating_input_1"/>
			<!--end::Star 1-->

			<!--begin::Star 2-->
				<label class="rating-label" for="rating_input_2"> <i class="fa-solid fa-star"></i>
			</label>
			<input class="rating-input" name="rating" value="2" type="radio" id="rating_input_2"/>
			<!--end::Star 2-->

			<!--begin::Star 3-->
				<label class="rating-label" for="rating_input_3"> <i class="fa-solid fa-star"></i>
			</label>
			<input class="rating-input" name="rating" value="3" type="radio" checked="checked" id="rating_input_3"/>
			<!--end::Star 3-->

			<!--begin::Star 4-->
				<label class="rating-label" for="rating_input_4"> <i class="fa-solid fa-star"></i>
			</label>
			<input class="rating-input" name="rating" value="4" type="radio" id="rating_input_4"/>
			<!--end::Star 4-->

			<!--begin::Star 5-->
				<label class="rating-label" for="rating_input_5"> <i class="fa-solid fa-star"></i>
			</label>
			<input
			class="rating-input" name="rating" value="5" type="radio" id="rating_input_5"/>
		<!--end::Star 5-->
		</div>

		{{ form_row(form.content) }}
		<button type="submit" class="btn btn-lg btn-primary">Soumettre mon commentaire</button>
		{{ form_end(form) }}
	</div>

{% endblock %}
