.text-center {
  text-align: center;
}

#btn {
  text-align: center;
  margin: 1rem auto;
}

.btn {
  display: inline-block;
  background-color: #212738;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
