.bg-tile-default {
  background-color: #eceff1;
}

.bg-tile-success {
  background-color: #e8f5e9;
}

.bg-tile-danger {
  background-color: #ffebee;
}

.fa-badge-check,
.fa-circle-exclamation,
.fa-circle-user {
  display: block;
  font-size: 6rem;
}