<!DOCTYPE html>
<html class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
			- PartageProf
		</title>

		<link
		rel="icon" type="image/jpg" href="{{ asset('images/favicon-64.png') }}"/>
		{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> #}
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">

		{% block javascripts %}

			<script src="https://use.fortawesome.com/1ce05b4b.js"></script>

			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="d-flex flex-column h-100">

		{% include('partials/_header.html.twig') %}

		<main class="mt-auto mb-auto"> {% block body %}{% endblock %}
			</main>

			{% include('partials/_footer.html.twig') %}
		</body>
	</html>
