<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			- TeachingHub
		</title>

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">

		{% block javascripts %}
			<script src="https://kit.fontawesome.com/b3e17d2f75.js" crossorigin="anonymous" defer></script>
			<script src="{{ asset('js/downloads_update.js') }}" crossorigin="anonymous" defer></script>
			<script src="{{ asset('js/rating.js') }}" crossorigin="anonymous" defer></script>

			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include('partials/_header.html.twig') %}

		<main class="mt-auto mb-auto"> {% block body %}{% endblock %}
			</main>

			{% include('partials/_footer.html.twig') %}

		</body>
	</html>
