<header class="text-center">
	<a class="navbar-brand" href="{{ path('app_home') }}">
		// TODO logo de TeachingHub
		        TeachingHub
	</a>
</header>

<main>
	{% block content %}{% endblock %}
</main>
