{% apply inline_css(source('@styles/email.css')) %}
<header class="text-center">
	<a href="{{ path('app_home') }}">
		<img src="{{ email.image('@images/logo.png') }}" alt="">
	</a>
</header>

<main>
	{% block content %}{% endblock %}
</main>
{% endapply %}
