{% extends 'base.html.twig' %}

{% block title %}
	{% if edit %}
		Editer un document
	{% else %}
		Ajouter un document
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="page-title">
			{% if edit %}
				Editer un document
			{% else %}
				Ajouter un document
			{% endif %}
		</h1>

		{{ component('RandomNumber', {form: form}) }}
	</div>
{% endblock %}
