{% extends 'email_base.html.twig' %}

{% block content %}

	<h1>Nous sommes désolés de vous voir partir</h1>

	<p>Nous respectons cependant votre choix.</p>

	<p>N'hésitez pas à prendre deux minutes pour nous dire ce qui vous a pousser à supprimer votre compte afin de nous permettre de nous améliorer.</p>

	<p>Nous restons bien evidemment à votre service pour toute question et remarque.</p>

	<p>Nous vous souhaitons le meilleur et serions heureux de vous voir revenir sur PartageProf.</p>

{% endblock %}
